[Unit]
Description=Vigibot Client Service
Documentation=https://www.vigibot.com
After=network.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/usr/local/vigiclient
ExecStart=/usr/local/bin/node /usr/local/vigiclient/clientrobotpi.js
ExecReload=
ExecStop=

Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
