[Unit]
Description=Vigibot service
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/vigiclient/run.sh
ExecReload=
ExecStop=

FailureAction=None
TimeoutSec=360
Restart=no
User=root
Group=root

[Install]
Alias=fct.startup
WantedBy=multi-user.target


